<footer class="row footer-row">
  <div class="columns small-12">
    <div class="subgrid subgrid-960">
      <div class="row">
        <div class="columns small-12 sg-col-footer medium-6 large-5">
          <h6>Join our newsletter</h6>
          <div class="html-element"><script type="text/javascript">document.write(unescape("%3Ciframe id=\"fb_iframe\" src=\"email-signup-validemail.php" + window.location.search + "\" width=\"100%\" height=\"65\"allowtransparency=\"true\" scrolling=\"no\" frameborder=\"0\"%3E&lt;a href=\"email-signup-validemail.php\" title=\"email-signup-validemail\"&gt;Check out my CoffeeCup Form&lt;/a&gt;%3C/iframe%3E"));</script>
<noscript>
<iframe class="emailsignup" height="65" style="border:none; background:transparent; overflow:hidden; width:100%; max-height: 65px;"
id="fb_iframe" src="email-signup-validemail/email-signup-validemail.html">
  <a href="email-signup-validemail.php" title="email-signup-validemail">Check out my CoffeeCup Form</a>
</iframe>
</noscript></div>
          <p class="paragraph newsletter-des">Stay up to date with important product news about the EVAS system and the latest and greatest from VisionSafe.</p>
        </div>
        <div class="columns small-6 contactus-col large-push-0 large-2 medium-push-1 medium-5 medium-offset-0">
          <h6>Contact us</h6>
          <a class="link-text contact-foot-link" href="tel:+1-800-441-9230">1-800-441-9230</a>
          <a class="link-text contact-foot-link" href="mailto:info@visionsafe.com">info@visionsafe.com</a>
          <p class="paragraph address">46-217 Kahuhipa St. Kaneohe, HI 96744<br>
          </p>
        </div>
        <div class="columns small-6 medium-4 large-2 connect-col">
          <h6>Connect with us</h6><a href="https://www.facebook.com/VisionSafeCorporation?fref=ts" class="responsive-picture fb-icon" target="_blank"><picture><img alt="VisionSafe Facebook icon" srcset="./socialicons/webicon-facebook.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></picture></a><a href="https://twitter.com/VisionSafeCorp" class="responsive-picture twitter-icon" target="_blank"><picture><img alt="VisionSafe Twitter icon" srcset="./socialicons/webicon-twitter.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></picture></a><a href="https://www.youtube.com/user/VisionSafeCorp" class="responsive-picture youtube-icon" target="_blank"><picture><img alt="VisionSafe Youtube icon" srcset="./socialicons/webicon-youtube.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></picture></a>
        </div>
        <div class="columns small-12 medium-8 large-3 about-col">
          <h6>About</h6>
          <ul class="link-list ul-about-links">
            <li class="list-item-link about-links"><a href="passenger.html">EVAS for Commercial</a></li>
            <li class="list-item-link about-links"><a href="cargo.html">EVAS for Cargo</a></li>
            <li class="list-item-link about-links"><a href="corporate.html">EVAS for Corporate</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="row footer-row-btm">
  <div class="columns small-12">
    <div class="subgrid subgrid-960">
      <div class="row">
        <div class="columns small-12 sg-col-footer-btm">
          <ul class="unorder-list ul-footer-btm">
            <li class="list-item footer-list-btm">© <span id="current-year"></span> VisionSafe<script>const year = new Date().getFullYear();document.getElementById('current-year').textContent = year;</script></li>
            <li class="list-item footer-list-btm2"><a href="terms.html" class="lgd-link">Terms and Conditions</a></li>
            <li class="list-item footer-list-btm2"><a href="wp-content/uploads/2018/10/VSC-Vendor-Supplier-Code-of-Business-Conduct-Ethics.pdf" class="lgd-link" target="_blank">Business Conduct and Ethics</a></li>
            <li class="list-item footer-list-btm2"><a href="https://www.iubenda.com/privacy-policy/63671032" class="lgd-link iubenda-nostyle no-brand iubenda-noiframe iubenda-embed iubenda-noiframe " title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></li>
            <li class="list-item footer-list-btm2"><a href="https://www.iubenda.com/privacy-policy/63671032/cookie-policy" class="lgd-link iubenda-nostyle no-brand iubenda-noiframe iubenda-embed iubenda-noiframe " title="Cookie Policy ">Cookie Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></li>
            <li class="list-item footer-list-btm2"><a href="#" class="lgd-link iubenda-cs-preferences-link" >Privacy Choices</a></li>
            <li class="list-item footer-list-btm2"><a href="#" class="lgd-link iubenda-cs-uspr-link" >Notice at Collection</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>