    <div class="navtainer">
      <a href="https://www.visionsafe.com/"><img src="https://www.visionsafe.com/images/vslogo.svg" class="vslogo"></a>
      <a href="https://www.visionsafe.com/"><img src="https://www.visionsafe.com/images/vslogo-aero.svg" class="vslogoaero"></a>
      
      <div id="burgmenu" class="inner">
        <div class="burgmenu">
          <span class="burgmenu-circle"></span>
          <a id="burgmenu-link" href="#">
            <span id="burgtxt">MENU</span>
            <span class="burgmenu-icon">
              <span class="burgmenu-line burgmenu-line-1"></span>
              <span class="burgmenu-line burgmenu-line-2"></span>
              <span class="burgmenu-line burgmenu-line-3"></span>
            </span>
          </a>
        </div>
        <nav>
          <div id="mainnav">
            <div id="tellink">
              <a href="https://www.visionsafe.com/">Home</a>
              <a href="tel:800-441-9230">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="13.96" height="13.96">
                  <path d="M10.2 8.4c-.9.9-.9 1.9-1.9 1.9s-1.8-1-2.7-1.9-1.9-1.9-1.9-2.8.9-.9 1.9-1.9S3.7 0 2.8 0 0 2.8 0 2.8c0 1.9 1.9 5.6 3.7 7.4S9.3 14 11.2 14c0 0 2.8-1.9 2.8-2.8s-2.8-3.8-3.8-2.8z" fill="#f2f2f3"/>
                </svg>
                <span>+1(800) 441-9230</span>
              </a>
            </div>
            <div class="dropdown-nav">
              <div class="dropdown">
                <input type="checkbox" id="dropdown1">
                <label class="dropdown-label" for="dropdown1">EVAS<span></span></label>
                <div class="dropdown-content">
                  <div class="dropdown-wrap">
                    <div class="dropdown-links">
                      <a href="https://www.visionsafe.com/passenger.html">
                        <div class="img-wrapper">
                          <img src="https://www.visionsafe.com/images/evc1.png" >
                        </div>
                        <div>EVAS for Commercial</div>
                      </a>
                      <a href="https://www.visionsafe.com/cargo.html">
                        <div class="img-wrapper">
                          <img src="https://www.visionsafe.com/images/evc2.png" >
                        </div>
                        <div>EVAS for Cargo</div>
                      </a>
                      <a href="https://www.visionsafe.com/corporate.html">
                        <div class="img-wrapper">
                          <img src="https://www.visionsafe.com/images/evc3.png" >
                        </div>
                        <div>EVAS for Corporate</div>
                      </a>
                    </div>
                    <div class="drpvid">
                      <div class="vimeo-vid">
                        <iframe src="https://player.vimeo.com/video/336250903?color=ffd971&amp;title=0&amp;byline=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
                      </div>
                      <h3>Overview of the Emergency Vision Assurance
System - EVAS</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="dropdown-nav">
              <div class="dropdown">
                <input type="checkbox" id="dropdown2">
                <label class="dropdown-label" for="dropdown2">Incidents<span></span></label>
                <div class="dropdown-content">
                  <div class="dropdown-wrap">
                    <div class="dropdown-links">
                      <a href="https://www.visionsafe.com/recent-smoke-in-the-cockpit-events/">
                        <div class="img-wrapper">
                          <img src="https://www.visionsafe.com/images/evc4.png" >
                        </div>
                        <div>Smoke Incidents</div>
                      </a>
                      <a href="https://www.visionsafe.com/faa-lithium-batteries.html">
                        <div class="img-wrapper">
                          <img src="https://www.visionsafe.com/images/evc5.png" >
                        </div>
                        <div>FAA Lithium Battery Report</div>
                      </a>
                    </div>
                    <div class="drpvid">
                      <div class="vimeo-vid">
                        <iframe src="https://player.vimeo.com/video/336710598?color=ffd971&amp;title=0&amp;byline=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
                      </div>
                      <h3>John Cox discusses the increase of in-flight
fires due to lithium batteries</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a href="https://www.visionsafe.com/faqs.html">FAQ</a>
            <div class="dropdown-nav">
              <div class="dropdown">
                <input type="checkbox" id="dropdown3">
                <label class="dropdown-label" for="dropdown3">About<span></span></label>
                <div class="dropdown-content">
                  <div class="dropdown-wrap">
                    <div class="dropdown-links">
                      <a href="https://www.visionsafe.com/about-us.html">
                        <div class="img-wrapper">
                          <img src="https://www.visionsafe.com/images/evc6.png" >
                        </div>
                        <div>The Team</div>
                      </a>
                      <a href="https://www.visionsafe.com/about.html">
                        <div class="img-wrapper">
                          <img src="https://www.visionsafe.com/images/evc7.png" >
                        </div>
                        <div>The Company</div>
                      </a>
                      <a href="https://www.visionsafe.com/legislation.html">
                        <div class="img-wrapper">
                          <img src="https://www.visionsafe.com/images/evc8.png" >
                        </div>
                        <div>Union Support and Legislation</div>
                      </a>
                      <a href="https://www.visionsafe.com/military.html">
                        <div class="img-wrapper">
                          <img src="https://www.visionsafe.com/images/evc9.png" >
                        </div>
                        <div>Military</div>
                      </a>
                      <a href="https://www.visionsafe.com/testimonials.html">
                        <div class="img-wrapper">
                          <img src="https://www.visionsafe.com/images/evc10.png" >
                        </div>
                        <div>Testimonials</div>
                      </a>
                    </div>
                    <div class="drpvid">
                      <div class="vimeo-vid">
                        <iframe src="https://www.youtube-nocookie.com/embed/XPDAGlokJkg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
                      </div>
                      <h3>Watch exactly how EVAS works</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a href="https://www.visionsafe.com/training.html">Training</a>
            <a href="https://www.visionsafe.com/contact.html">Contact</a>
            <a class="clipor" href="https://www.visionsafe.com/client-portal/">Client Portal</a>
          </div>
          <div id="subnav">
            <a href="https://www.visionsafe.com/index.html#cert">Certifications</a>
            <a href="https://www.visionsafe.com/index.html#service">Service</a>
            <a href="https://www.visionsafe.com/about.html#events">Events</a>
            <a href="https://www.visionsafe.com/warranty/">Warranty Form</a>
            <a href="https://www.visionsafe.com/videos.html">Videos</a>
            <a class="ben" id="buyEVASnow">Buy EVAS Now</a>
            <a href="tel:800-441-9230" class="desktel">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="13.96" height="13.96">
                <path d="M10.2 8.4c-.9.9-.9 1.9-1.9 1.9s-1.8-1-2.7-1.9-1.9-1.9-1.9-2.8.9-.9 1.9-1.9S3.7 0 2.8 0 0 2.8 0 2.8c0 1.9 1.9 5.6 3.7 7.4S9.3 14 11.2 14c0 0 2.8-1.9 2.8-2.8s-2.8-3.8-3.8-2.8z" fill="#f2f2f3"/>
              </svg>
              <span>+1(800) 441-9230</span>
            </a>
          </div>
        </nav>
      </div>
    </div>