<footer class="webflow-footer">
  <div>
    <a href="https://www.visionsafe.com/" >
      <img src="https://cdn.visionsafe.com/nav/visionsafe-logo.svg" class="vs-logo">
    </a>

    <div class="footer-nav">
        <div class="footer-title">VisionSafe</div>
        <a href="https://www.visionsafe.com/about" >ABOUT&nbsp;US</a>
    </div>

    <div class="footer-nav">
        <div class="footer-title">EVAS</div>
        <a href="https://www.visionsafe.com/evas/overview" >OVERVIEW</a>
        <a href="https://www.visionsafe.com/evas/how-it-works">HOW IT WORKS</a>
        <a href="https://www.visionsafe.com/evas/markets">MARKETS</a>
        <a href="https://portal.visionsafe.com/" data-cmp-ab="2">CLIENT PORTAL</a>
        <a href="https://www.visionsafe.com/evas/certifications">CERTIFICATIONS</a>
        <a href="https://www.visionsafe.com/evas/certifications#service">SERVICE</a>
        <a href="https://incidents.visionsafe.com/" data-cmp-ab="2">SMOKE INCIDENTS</a>
        <a href="https://training.visionsafe.com/" >TRAINING</a>
    </div>

    <form id="footer-form"
          method="POST"
          action="https://script.google.com/macros/s/AKfycbwLxeyE91rrDgqrdHeSXWeyZXTxlOP740hyBGdh95lMLzwz5pRgomb9PNYRCfqfoRFlCg/exec"
          target="hidden_iframe"
    >
        <div class="footer-title">Stay Updated on Aviation Safety</div>
        <div class="footer-form-text">Receive EVAS news, product updates, and safety insights.</div>
        <div class="footer-form-input">
            <input maxlength="256" aria-label="Get product updates" placeholder="Email" type="email" name="email" required="">
            <input type="submit" value="SUBMIT">
        </div>
        <p id="status"></p>
    </form>
  
    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"></iframe>

  </div>

  <hr />

  <div>
    <p>	&copy; 2026 VisionSafe. All rights reserved</p>
    <a href="https://www.iubenda.com/terms-and-conditions/63671032">Terms and Conditions</a>
    <a href="https://www.iubenda.com/privacy-policy/63671032/cookie-policy">Cookie Policy</a>
    <a href="https://www.iubenda.com/privacy-policy/63671032">Privacy Policy</a>
    <a href="https://cdn.prod.website-files.com/69c98cf339b714899dd9108e/69f0200b1163ba36697e29ec_8015_RevQ_Training_Outline.pdf">Training Policy</a>
    <a href="https://www.linkedin.com/company/visionsafe-evas"><img src="https://cdn.visionsafe.com/nav/linkedin.png" width="26" height="25.21"></a>
  </div>
</footer>