{% extends "layout.njk" %}

{% block meta %}
  <meta name="description" content="At VisionSafe we focus our attention on one of the most important principles in aviation - ensuring pilots can see in order to fly.">
{% endblock %}

{% block title %}About Us | VisionSafe | EVAS{% endblock %}

{% block head %}
  {% include "partials/head.njk" %}
<script src="extras/current.js"></script>
<script src="extras/sub-current.js"></script>
{% endblock %}

{% block content %} 
  <div class="row headerimg-row-no-nav">
    <div class="columns small-12">
      <div class="responsive-picture headerimg">
        <picture><img alt="Evas Training" srcset="./images/about-us-header-img.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
        </picture>
      </div>
    </div>
  </div>
  <div class="row staff-intro">
    <div class="columns small-12">
      <article class="subgrid subgrid-960">
        <div class="row">
          <div class="columns small-12 medium-7">
            <h1 class="about-h">A Team Focused on Safety</h1>
            <img class="team-sml hide-for-medium" src="./images/vs-team.jpg" alt="Three staff at VisionSafe working">
            <p class="paragraph com-par staff-intro-p">For over 25 years we at VisionSafe have focused our attention on one of the most important principles in aviation - ensuring pilots can see in order to fly.  Today the results speak for themselves, EVAS is equipped on thousands of aircraft the world over, with wide spread adoption of the smoke displacement technology.</p>
          </div>
          
          <div class="columns small-12 medium-5 hide-for-small-only">
            <img class="team" src="./images/vs-team.jpg" alt="Three staff at VisionSafe working">
          </div>
        </div>
<!-- !!! IF UPDATED NEED TO BE UPDATED DOWN LOW on Mobile VERSION !!! -->
        <div class="row hide-for-small-only">
          
          <div class="columns medium-6">
            <h1 class="about-h">Safety in Every Detail</h1>
            <p class="paragraph com-par staff-intro-p detail-desk">NSF-ISR has determined that VisionSafe is in compliance with ISO 9001:2015, AS9100  & AS9110 requirements. The key principles that have allowed VisionSafe to earn this certification are: mutually beneficial supplier relations, continual improvement, and customer focus. <a href="about.html#cert">Learn more about VisionSafe's NSF certifications.</a></p>
          </div>
          <div class="columns medium-2">
              <img class="usa" src="./images/nsf-usa.jpg" alt="NSF and Made in the USA badges">
            </div>
          <div class="columns iso-check-col staff-check-col medium-4">
            <h4 class="nsf-h-vsc">ISO 9001 Key Principles</h4>
            <ul class="unorder-list iso-ul-check">
              <li class="list-item check-gold iso-check">Customer Focus</li>
              <li class="list-item check-gold">Leadership</li>
              <li class="list-item check-gold">Involvement of people</li>
              <li class="list-item check-gold">System approach to management</li>
              <li class="list-item check-gold">Continual improvement</li>
              <li class="list-item check-gold">Factual approach to decision making</li>
              <li class="list-item check-gold">Mutually beneficial supplier relations</li>
            </ul>
          </div>
        </div>
<!-- !!! IF UPDATED NEED TO BE UPDATED DOWN LOW on Mobile VERSION !!! -->
      </article>
    </div>
  </div>

  <div class="row headerimg-row-no-nav">
    <div class="columns small-12">
      <div class="responsive-picture headerimg">
        <picture><img alt="EVAS staff at work" src="./images/vs-team-squares.jpg">
        </picture>
      </div>
    </div>
  </div>

  <div class="row staff-row">
      <div class="columns small-12">
        <article class="subgrid subgrid-960">
          <div class="row">
            <div class="columns small-12">
              <h2 class="quote-h"><img class="startquote" src="./images/start-quote.png" alt="start quote">Every action from our staff and step in our process is intimately linked to the ultimate goal of safeguarding lives.<img class="endquote" src="./images/end-quote.png" alt="start quote"></h2>
            </div>
              <div class="columns small-6 medium-4">
                <div class="team-card">
                  <img class="staff-pic" src="./images/omerod.jpg" alt="">
                  <h3 class="staff-name">MaryAnn H. Omerod</h3>
                  <p class="staff-title">Chief Operating Officer</p>
                  <img class="goldbar" src="./images/goldbar.jpg" alt="goldbar">
                </div>
              </div>
              <div class="columns small-6 medium-4">
                <div class="team-card">
                  <img class="staff-pic" src="./images/akau.jpg" alt="">
                  <h3 class="staff-name">Jason Akau</h3>
                  <p class="staff-title">Director of Certification &amp; Compliance</p>
                  <img class="goldbar" src="./images/goldbar.jpg" alt="goldbar">
                </div>
              </div>
              <div class="columns small-6 medium-4">
                <div class="team-card">
                  <img class="staff-pic" src="./images/pak.jpg" alt="">
                  <h3 class="staff-name">Genet Omerod</h3>
                  <p class="staff-title">Production Manager</p>
                  <img class="goldbar" src="./images/goldbar.jpg" alt="goldbar">
                </div>
              </div>
              <div class="columns small-6 medium-4">
                <div class="team-card">
                  <img class="staff-pic" src="./images/medeiros.jpg" alt="">
                  <h3 class="staff-name">Damon Medeiros</h3>
                  <p class="staff-title">QA Manager, Chief Inspector</p>
                  <img class="goldbar" src="./images/goldbar.jpg" alt="goldbar">
                </div>
              </div>
              <div class="columns small-6 medium-4">
                <div class="team-card">
                  <img class="staff-pic" src="./images/siu.jpg" alt="">
                  <h3 class="staff-name">Dionne Siu</h3>
                  <p class="staff-title">Customer Care Specialist</p>
                  <img class="goldbar" src="./images/goldbar.jpg" alt="goldbar">
                </div>
              </div>
              <div class="columns small-6 medium-4">
                <div class="team-card">
                  <h3 class="team-card-quote">Our experienced staff are what have helped VisionSafe to attain outstanding achievement as a quality supplier in the Aviation Sector.
                    </h3>
                  <img class="goldbar" src="./images/goldbar.jpg" alt="goldbar">
                </div>
              </div>
          </div>
        </article>
      </div>
    </div>
    <div class="row">
      <div class="columns small-12">
        <article class="subgrid subgrid-960">
<!-- This is on mobile only if you change here make sure and change above as well -->
            <div class="row hide-for-medium safe-mobile-row">
              <div class="columns small-12">
                <h1 class="about-h">Safety in Every Detail</h1>
                <p class="paragraph com-par staff-intro-p">NSF-ISR has determined that VisionSafe is in compliance with ISO 9001:2015, AS9100  & AS9110 requirements. The key principles that have allowed VisionSafe to earn this certification are: mutually beneficial supplier relations, continual improvement, and customer focus. <a href="about.html#cert">Learn more about VisionSafe's NSF certifications.</a></p>
                <img class="usa-sml" src="./images/nsf-usa-mobile.jpg" alt="NSF and Made in the USA badges">
              </div>
              <div class="columns iso-check-col staff-check-col medium-4">
                <h4 class="nsf-h-vsc">ISO 9001 Key Principles</h4>
                <ul class="unorder-list iso-ul-check">
                  <li class="list-item check-gold iso-check">Customer Focus</li>
                  <li class="list-item check-gold">Leadership</li>
                  <li class="list-item check-gold">Involvement of people</li>
                  <li class="list-item check-gold">System approach to management</li>
                  <li class="list-item check-gold">Continual improvement</li>
                  <li class="list-item check-gold">Factual approach to decision making</li>
                  <li class="list-item check-gold">Mutually beneficial supplier relations</li>
                </ul>
              </div>
            </div>
<!-- END This is on mobile only -->


          <div class="row" style="padding:60px 0 40px 0;">
            <div class="columns small-12">
              <!-- <h2 class="awards-h">Testimonials & Recommendations</h2> -->
            </div>
            <div class="columns small-12 medium-4">
              <div class="quote-card">
                <p class="quote-p">“JetBlue is committed to being on the forefront of safety for our customers and our crew members.   ...we have added EVAS to our airplanes in order to add that extra safety...”</p>
                <span><strong>Al Spain,  JetBlue</strong> - V.P. Flight Operations</span>
              </div>
            </div>
            <div class="columns small-12 medium-4">
              <div class="quote-card">
                <p class="quote-p">“As an industry there is still more to do. We haven’t done enough to ensure that pilot vision is maintained during such events.”</p>
                <span><strong>Bill Voss</strong> - Flight Safety Foundation</span>
              </div>
            </div>
            <div class="columns small-12 medium-4">
              <div class="quote-card">
                <p class="quote-p"> “Unfortunately, with all the safe guards built into modern aircraft and the operational requirements...  ...smoke/fumes in cabin/cockpits is still a
                    serious problem.”</p>
                <span><strong>FAA</strong> - InFO 10019</span>
              </div>
            </div>
<!--AWARDS AND ENDORSMENT SECTION delet comment to add back in
            <div class="columns small-12 hide-for-small-only">
              <img class="award-img" src="./images/awards.jpg" alt="">
            </div>
            <div class="columns small-12 hide-for-medium">
              <img class="award-img" src="./images/awards-sml.jpg" alt="">
            </div>
Delete comment to add TESTIMONIAL section back in-->
          </div>

        </article>
      </div>
    </div>

    <div class="row headerimg-row-no-nav">
      <div class="columns small-12">
        <div class="headerimg hero-quote-section">
          <div class="quote-section">
              <h2 class="quote-hero-h"><img class="startquote" src="./images/start-quote.png" alt="start quote">Safeguarding lives, brings a whole different level of meaning to the workplace.<img class="endquote" src="./images/end-quote.png" alt="start quote"></h2>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="columns small-12">
        <article class="subgrid subgrid-960">
          <div class="row">
            <div class="columns small-6">
              <img class="four-square" src="./images/staff-tl.jpg" alt="">
            </div>
            <div class="columns small-6">
              <img class="four-square" src="./images/staff-tr2.jpg" alt="">
            </div>
            <div class="columns small-6 bl-quote">
              <div class="four-square-text-container">
                <h2 class="quote-h-square">Dedication to top notch Quality & Customer Service</h2>
              </div>
            </div>
            <div class="columns small-6">
              <img class="four-square" src="./images/staff-br.jpg" alt="">
            </div>
          </div>
        </article>
      </div>
    </div>

    <div class="row headerimg-row-no-nav">
      <div class="columns small-12">
        <div class="headerimg hero-cta-gold">
          <article class="subgrid subgrid-960">
            <div class="row">
              <div class="columns small-12 medium-7 cta-col">
                <h2 class="cta-gold-h">Speak with one of our specialists about adding a crucial layer of safety to your plane or fleet.</h2>
              </div>
              <div class="columns small-12 medium-5 phone-gold-col">
                <div class="phone-wrapper"><span class="phone-number-text">+1 (800) 441-9230</span></div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
{% include "partials/footer.njk" %}
<div class="reveal" id="checkoutModal" >
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <div id="airload"></div>
  <h1 id="checkoutheader">Great! We'll guide you through the steps to getting your plane or fleet protected with EVAS.</h1>
  <form id="checkout" name="checkout">
    <label>Contact Information</label>
    <div class="form-input">
      <input id="fullname" name="fullname" placeholder="Full Name" required="required" type="text">
      <label for="fullname">Full Name</label>
    </div>
    <div class="form-input">
      <input id="company" name="company" placeholder="Company" required="required" type="text">
      <label for="company">Company</label>
    </div>
    <div class="form-input">
      <input id="phone" name="phone" placeholder="Phone" required="required" type="tel">
      <label for="phone">Phone</label>
    </div>
    <div class="form-input">
      <input id="email" name="email" placeholder="Email" required="required" type="email">
      <label for="email">Email</label>
    </div>
    
    <label class="slct">Where is your plane or fleet registered?</label>
    <div class="form-input">
      <select name="location">
        <option selected="selected" value="0">Select country</option>
        <option value="US">United States</option>
        <option value="EU">European Union</option>
        <option value="OTHER">Other</option>
      </select>
    </div>
    <label class="notshown" id="countrylabel">What country is your plane or fleet registered in?</label>
    <div id="countrywrap" class="form-input notshown">
      <select name="country">
        <option selected="selected" value="0">
          Select country
        </option>
        <option value="AF">
          Afghanistan
        </option>
        <option value="AX">
          Åland Islands
        </option>
        <option value="AL">
          Albania
        </option>
        <option value="DZ">
          Algeria
        </option>
        <option value="AS">
          American Samoa
        </option>
        <option value="AD">
          Andorra
        </option>
        <option value="AO">
          Angola
        </option>
        <option value="AI">
          Anguilla
        </option>
        <option value="AQ">
          Antarctica
        </option>
        <option value="AG">
          Antigua and Barbuda
        </option>
        <option value="AR">
          Argentina
        </option>
        <option value="AM">
          Armenia
        </option>
        <option value="AW">
          Aruba
        </option>
        <option value="AU">
          Australia
        </option>
        <option value="AT">
          Austria
        </option>
        <option value="AZ">
          Azerbaijan
        </option>
        <option value="BS">
          Bahamas
        </option>
        <option value="BH">
          Bahrain
        </option>
        <option value="BD">
          Bangladesh
        </option>
        <option value="BB">
          Barbados
        </option>
        <option value="BY">
          Belarus
        </option>
        <option value="BE">
          Belgium
        </option>
        <option value="BZ">
          Belize
        </option>
        <option value="BJ">
          Benin
        </option>
        <option value="BM">
          Bermuda
        </option>
        <option value="BT">
          Bhutan
        </option>
        <option value="BO">
          Bolivia, Plurinational State of
        </option>
        <option value="BQ">
          Bonaire, Sint Eustatius and Saba
        </option>
        <option value="BA">
          Bosnia and Herzegovina
        </option>
        <option value="BW">
          Botswana
        </option>
        <option value="BV">
          Bouvet Island
        </option>
        <option value="BR">
          Brazil
        </option>
        <option value="IO">
          British Indian Ocean Territory
        </option>
        <option value="BN">
          Brunei Darussalam
        </option>
        <option value="BG">
          Bulgaria
        </option>
        <option value="BF">
          Burkina Faso
        </option>
        <option value="BI">
          Burundi
        </option>
        <option value="KH">
          Cambodia
        </option>
        <option value="CM">
          Cameroon
        </option>
        <option value="CA">
          Canada
        </option>
        <option value="CV">
          Cape Verde
        </option>
        <option value="KY">
          Cayman Islands
        </option>
        <option value="CF">
          Central African Republic
        </option>
        <option value="TD">
          Chad
        </option>
        <option value="CL">
          Chile
        </option>
        <option value="CN">
          China
        </option>
        <option value="CX">
          Christmas Island
        </option>
        <option value="CC">
          Cocos (Keeling) Islands
        </option>
        <option value="CO">
          Colombia
        </option>
        <option value="KM">
          Comoros
        </option>
        <option value="CG">
          Congo
        </option>
        <option value="CD">
          Congo, the Democratic Republic of the
        </option>
        <option value="CK">
          Cook Islands
        </option>
        <option value="CR">
          Costa Rica
        </option>
        <option value="CI">
          Côte d'Ivoire
        </option>
        <option value="HR">
          Croatia
        </option>
        <option value="CU">
          Cuba
        </option>
        <option value="CW">
          Curaçao
        </option>
        <option value="CY">
          Cyprus
        </option>
        <option value="CZ">
          Czech Republic
        </option>
        <option value="DK">
          Denmark
        </option>
        <option value="DJ">
          Djibouti
        </option>
        <option value="DM">
          Dominica
        </option>
        <option value="DO">
          Dominican Republic
        </option>
        <option value="EC">
          Ecuador
        </option>
        <option value="EG">
          Egypt
        </option>
        <option value="SV">
          El Salvador
        </option>
        <option value="GQ">
          Equatorial Guinea
        </option>
        <option value="ER">
          Eritrea
        </option>
        <option value="EE">
          Estonia
        </option>
        <option value="ET">
          Ethiopia
        </option>
        <option value="FK">
          Falkland Islands (Malvinas)
        </option>
        <option value="FO">
          Faroe Islands
        </option>
        <option value="FJ">
          Fiji
        </option>
        <option value="FI">
          Finland
        </option>
        <option value="FR">
          France
        </option>
        <option value="GF">
          French Guiana
        </option>
        <option value="PF">
          French Polynesia
        </option>
        <option value="TF">
          French Southern Territories
        </option>
        <option value="GA">
          Gabon
        </option>
        <option value="GM">
          Gambia
        </option>
        <option value="GE">
          Georgia
        </option>
        <option value="DE">
          Germany
        </option>
        <option value="GH">
          Ghana
        </option>
        <option value="GI">
          Gibraltar
        </option>
        <option value="GR">
          Greece
        </option>
        <option value="GL">
          Greenland
        </option>
        <option value="GD">
          Grenada
        </option>
        <option value="GP">
          Guadeloupe
        </option>
        <option value="GU">
          Guam
        </option>
        <option value="GT">
          Guatemala
        </option>
        <option value="GG">
          Guernsey
        </option>
        <option value="GN">
          Guinea
        </option>
        <option value="GW">
          Guinea-Bissau
        </option>
        <option value="GY">
          Guyana
        </option>
        <option value="HT">
          Haiti
        </option>
        <option value="HM">
          Heard Island and McDonald Islands
        </option>
        <option value="VA">
          Holy See (Vatican City State)
        </option>
        <option value="HN">
          Honduras
        </option>
        <option value="HK">
          Hong Kong
        </option>
        <option value="HU">
          Hungary
        </option>
        <option value="IS">
          Iceland
        </option>
        <option value="IN">
          India
        </option>
        <option value="ID">
          Indonesia
        </option>
        <option value="IR">
          Iran, Islamic Republic of
        </option>
        <option value="IQ">
          Iraq
        </option>
        <option value="IE">
          Ireland
        </option>
        <option value="IM">
          Isle of Man
        </option>
        <option value="IL">
          Israel
        </option>
        <option value="IT">
          Italy
        </option>
        <option value="JM">
          Jamaica
        </option>
        <option value="JP">
          Japan
        </option>
        <option value="JE">
          Jersey
        </option>
        <option value="JO">
          Jordan
        </option>
        <option value="KZ">
          Kazakhstan
        </option>
        <option value="KE">
          Kenya
        </option>
        <option value="KI">
          Kiribati
        </option>
        <option value="KP">
          Korea, Democratic People's Republic of
        </option>
        <option value="KR">
          Korea, Republic of
        </option>
        <option value="KW">
          Kuwait
        </option>
        <option value="KG">
          Kyrgyzstan
        </option>
        <option value="LA">
          Lao People's Democratic Republic
        </option>
        <option value="LV">
          Latvia
        </option>
        <option value="LB">
          Lebanon
        </option>
        <option value="LS">
          Lesotho
        </option>
        <option value="LR">
          Liberia
        </option>
        <option value="LY">
          Libya
        </option>
        <option value="LI">
          Liechtenstein
        </option>
        <option value="LT">
          Lithuania
        </option>
        <option value="LU">
          Luxembourg
        </option>
        <option value="MO">
          Macao
        </option>
        <option value="MK">
          Macedonia, the former Yugoslav Republic of
        </option>
        <option value="MG">
          Madagascar
        </option>
        <option value="MW">
          Malawi
        </option>
        <option value="MY">
          Malaysia
        </option>
        <option value="MV">
          Maldives
        </option>
        <option value="ML">
          Mali
        </option>
        <option value="MT">
          Malta
        </option>
        <option value="MH">
          Marshall Islands
        </option>
        <option value="MQ">
          Martinique
        </option>
        <option value="MR">
          Mauritania
        </option>
        <option value="MU">
          Mauritius
        </option>
        <option value="YT">
          Mayotte
        </option>
        <option value="MX">
          Mexico
        </option>
        <option value="FM">
          Micronesia, Federated States of
        </option>
        <option value="MD">
          Moldova, Republic of
        </option>
        <option value="MC">
          Monaco
        </option>
        <option value="MN">
          Mongolia
        </option>
        <option value="ME">
          Montenegro
        </option>
        <option value="MS">
          Montserrat
        </option>
        <option value="MA">
          Morocco
        </option>
        <option value="MZ">
          Mozambique
        </option>
        <option value="MM">
          Myanmar
        </option>
        <option value="NA">
          Namibia
        </option>
        <option value="NR">
          Nauru
        </option>
        <option value="NP">
          Nepal
        </option>
        <option value="NL">
          Netherlands
        </option>
        <option value="NC">
          New Caledonia
        </option>
        <option value="NZ">
          New Zealand
        </option>
        <option value="NI">
          Nicaragua
        </option>
        <option value="NE">
          Niger
        </option>
        <option value="NG">
          Nigeria
        </option>
        <option value="NU">
          Niue
        </option>
        <option value="NF">
          Norfolk Island
        </option>
        <option value="MP">
          Northern Mariana Islands
        </option>
        <option value="NO">
          Norway
        </option>
        <option value="OM">
          Oman
        </option>
        <option value="PK">
          Pakistan
        </option>
        <option value="PW">
          Palau
        </option>
        <option value="PS">
          Palestinian Territory, Occupied
        </option>
        <option value="PA">
          Panama
        </option>
        <option value="PG">
          Papua New Guinea
        </option>
        <option value="PY">
          Paraguay
        </option>
        <option value="PE">
          Peru
        </option>
        <option value="PH">
          Philippines
        </option>
        <option value="PN">
          Pitcairn
        </option>
        <option value="PL">
          Poland
        </option>
        <option value="PT">
          Portugal
        </option>
        <option value="PR">
          Puerto Rico
        </option>
        <option value="QA">
          Qatar
        </option>
        <option value="RE">
          Réunion
        </option>
        <option value="RO">
          Romania
        </option>
        <option value="RU">
          Russian Federation
        </option>
        <option value="RW">
          Rwanda
        </option>
        <option value="BL">
          Saint Barthélemy
        </option>
        <option value="SH">
          Saint Helena, Ascension and Tristan da Cunha
        </option>
        <option value="KN">
          Saint Kitts and Nevis
        </option>
        <option value="LC">
          Saint Lucia
        </option>
        <option value="MF">
          Saint Martin (French part)
        </option>
        <option value="PM">
          Saint Pierre and Miquelon
        </option>
        <option value="VC">
          Saint Vincent and the Grenadines
        </option>
        <option value="WS">
          Samoa
        </option>
        <option value="SM">
          San Marino
        </option>
        <option value="ST">
          Sao Tome and Principe
        </option>
        <option value="SA">
          Saudi Arabia
        </option>
        <option value="SN">
          Senegal
        </option>
        <option value="RS">
          Serbia
        </option>
        <option value="SC">
          Seychelles
        </option>
        <option value="SL">
          Sierra Leone
        </option>
        <option value="SG">
          Singapore
        </option>
        <option value="SX">
          Sint Maarten (Dutch part)
        </option>
        <option value="SK">
          Slovakia
        </option>
        <option value="SI">
          Slovenia
        </option>
        <option value="SB">
          Solomon Islands
        </option>
        <option value="SO">
          Somalia
        </option>
        <option value="ZA">
          South Africa
        </option>
        <option value="GS">
          South Georgia and the South Sandwich Islands
        </option>
        <option value="SS">
          South Sudan
        </option>
        <option value="ES">
          Spain
        </option>
        <option value="LK">
          Sri Lanka
        </option>
        <option value="SD">
          Sudan
        </option>
        <option value="SR">
          Suriname
        </option>
        <option value="SJ">
          Svalbard and Jan Mayen
        </option>
        <option value="SZ">
          Swaziland
        </option>
        <option value="SE">
          Sweden
        </option>
        <option value="CH">
          Switzerland
        </option>
        <option value="SY">
          Syrian Arab Republic
        </option>
        <option value="TW">
          Taiwan, Province of China
        </option>
        <option value="TJ">
          Tajikistan
        </option>
        <option value="TZ">
          Tanzania, United Republic of
        </option>
        <option value="TH">
          Thailand
        </option>
        <option value="TL">
          Timor-Leste
        </option>
        <option value="TG">
          Togo
        </option>
        <option value="TK">
          Tokelau
        </option>
        <option value="TO">
          Tonga
        </option>
        <option value="TT">
          Trinidad and Tobago
        </option>
        <option value="TN">
          Tunisia
        </option>
        <option value="TR">
          Turkey
        </option>
        <option value="TM">
          Turkmenistan
        </option>
        <option value="TC">
          Turks and Caicos Islands
        </option>
        <option value="TV">
          Tuvalu
        </option>
        <option value="UG">
          Uganda
        </option>
        <option value="UA">
          Ukraine
        </option>
        <option value="AE">
          United Arab Emirates
        </option>
        <option value="GB">
          United Kingdom
        </option>
        <option value="UM">
          United States Minor Outlying Islands
        </option>
        <option value="UY">
          Uruguay
        </option>
        <option value="UZ">
          Uzbekistan
        </option>
        <option value="VU">
          Vanuatu
        </option>
        <option value="VE">
          Venezuela, Bolivarian Republic of
        </option>
        <option value="VN">
          Viet Nam
        </option>
        <option value="VG">
          Virgin Islands, British
        </option>
        <option value="VI">
          Virgin Islands, U.S.
        </option>
        <option value="WF">
          Wallis and Futuna
        </option>
        <option value="EH">
          Western Sahara
        </option>
        <option value="YE">
          Yemen
        </option>
        <option value="ZM">
          Zambia
        </option>
        <option value="ZW">
          Zimbabwe
        </option>
      </select>
    </div>
    <div class="form-sub">
      <input type="submit" value="Next" />
    </div>
  </form>
</div>
<div class="reveal" id="msgModal" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
  <div class="modal-wrap">
    <div id="msg-modal-error">
      <h2>We'll need to get you a special STC for where your aircraft is registered. We will be in touch shortly to assist with this. If you'd like to contact us please call us at 1-800-441-9230</h2>
    </div>    
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>  
  </div>
</div>
<div class="reveal" id="stripeModal" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
  <div class="modal-wrap">
    <div id="msg-modal-stripe"></div>
  </div>
</div>
{% endblock %}

{% block javascript %} 
<script src="js/webflow.js" type="text/javascript"></script>
<script src="js/jquery.min.js"></script>
<script src="js/outofview.js"></script>
<script src="js/what-input.min.js"></script>
<script src="js/foundation.min.js"></script>
<script>$(document).foundation();</script>
<script src="js/checkout.js"></script>
<!-- LinkedIn Insight Tag -->
<script type="text/javascript">
_linkedin_partner_id = "441156";
window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
window._linkedin_data_partner_ids.push(_linkedin_partner_id);
</script><script type="text/javascript">
(function(){var s = document.getElementsByTagName("script")[0];
var b = document.createElement("script");
b.type = "text/javascript";b.async = true;
b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
s.parentNode.insertBefore(b, s);})();
</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=441156&fmt=gif" />
</noscript>
<!-- End LinkedIn Insight Tag -->

<!-- Twitter universal website tag code -->
<script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','o31f6');
twq('track','PageView');
</script>
<!-- End Twitter universal website tag code -->

<!-- birdseed 
<script id="io.birdseed.script-tag" type="text/javascript" src="https://app.birdseed.io/widget.js"></script><div id="birdseed-widget-container" data-token="100d60c95c9b87ccc8463ae09bb6dd61"></div>
 end birdseed -->
<script id="CookieDeclaration" src="https://consent.cookiebot.com/0dd5556c-45da-432d-88be-726b6905f924/cd.js" type="text/javascript" async></script>
{% endblock %}