{% extends "layout.njk" %}

{% block meta %}
  <meta name="description" content="EVAS has been widely adopted by those who fly on private jets. EVAS is available for the majority of medium to long range aircraft types as either standard equipment or on the options lists.">
{% endblock %}

{% block title %}Corporate Aviation | VisionSafe | EVAS{% endblock %}

{% block head %}
  {% include "partials/head.njk" %}
<script src="extras/sub-current.js"></script>
<style>
.vimmodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.vimmodal-content {
  margin: auto;
  width: 80%;
  position: relative;
}
#vimclose {
  color: #fff;
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 28px;
  font-weight: bold;
  z-index: 8;
}
#vimclose:hover,
#vimclose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.evas-gulf-container {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 0 10%;
}
.gulf4 {
  background-color: #2e2925;
  background-image: url('./images/gulf4.png');
  background-repeat: no-repeat;
  background-position: 550% center;
  background-position: 5%;
  background-size: cover;
}
.briquo {
  display: flex;
  justify-content: flex-end;
  background-color: #e2e2e2;
  background-image: url('./images/75831925.jpg');
  background-repeat: no-repeat;
  background-position: 105%;
  background-size: cover;
  margin-top: -2px;
}
#briquotxt {
  margin-right: 25px;
  margin-bottom: 60px;
  margin-top: 48px;
  margin-left: 75px;
  display: flex;
  flex-direction: column;
}
#briquotxt h2 {
  max-width: 470px;
  font-weight: 400;
  font-family: 'lato';
  font-size: 20px;
  font-style: italic;
  line-height: 28px;
}
.embed-container { 
position: relative; 
padding-bottom: 56.25%; 
height: 0; 
overflow: hidden; 
max-width: 100%; 
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
position: absolute; 
top: 0; 
left: 0; 
width: 100%; 
height: 100%; 
}
.vimiconwrap {
  position: relative;
}
.vimiconwrap img {
  width: 100%;
  height: auto;
  padding: 5% 10%;
  cursor: pointer;
}
.play-icon {
  display: block;
  width: 65px;
  height: 40px;
  margin: 0 auto;
  padding: .2em 0 0 .2em;
  position: absolute;
  top: 40%;
  left: 40%;
  background: rgba(30,30,30,.9);
  border-radius: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.play-icon svg {
  width: 20px;
  height: 20px;
  pointer-events: none;
}
.play-icon svg polygon.fill {
  fill: #fff;
  pointer-events: none;
}
.gulftxt {
  padding: 20px 0;
}
.gulftxt:first-child {
  margin-right: 75px;
}
.gulftxt > p {
  font-family: 'lato';
  font-weight: bold;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
}
@media (min-width: 370px) {
  #briquotxt h2 {
    font-size: 30px;
    line-height: 38px;
  }
}
@media (min-width: 375px) {
  .briquo {
    background-position: 120%;
  }
  .gulf4 {
    background-position: -15%;
  }
}
@media (min-width: 425px) {
  .briquo {
    background-position: 150%;
  }
}
@media (min-width: 468px) {
  .gulf4 {
    background-position: -50%;
  }
}
@media (min-width: 516px) {
  .gulf4 {
    background-position: calc(100% + 400px);
  }
}
@media (min-width: 540px) {
  .briquo {
    background-position: 195%;
  }
}
@media (min-width: 600px) {
  .briquo {
    background-position: 225%;
  }
}
@media (min-width: 640px) {
  .evas-gulf-container {
      min-height: 160px;
  }
  .evas-gulf-container {
      margin: 100px 30px;
  }
  .briquo {
    background-position: 250%;
  }
  .evas-gulf-container {
    padding: 0;
  }
}
@media (min-width: 670px) {
  .briquo {
    background-position: 300%;
  }
}
@media (min-width: 720px) {
  .briquo {
    background-position: 375%;
  }
}
@media (min-width: 740px) {
  .briquo {
    background-position: 450%;
  }
}
@media (min-width: 768px) {
  .briquo {
    background-position: 500%;
  }
}
@media (min-width: 770px) {
  .evas-gulf-container {
      margin-left: 70px;
  }
  .briquo {
    background-position: 575%;
  }
}
@media (min-width: 800px) {
  .briquo {
    background-position: 700%;
  }
}
@media (min-width: 820px) {
  .briquo {
    background-position: 900%;
  }
  .gulftxt > p {
    font-size: 22px;
    line-height: 26px;
  }
}
@media (min-width: 840px) {
  .briquo {
    background-position: 1350%;
  }
}
@media (min-width: 860px) {
  .briquo {
    background-position: 3000%;
  }
}
@media (min-width: 865px) {
  .briquo {
    background-position: 4000%;
  }
}
@media (min-width: 870px) {
  .briquo {
    background-position: 10000%;
  }
}
@media (min-width: 872px) {
  .briquo {
    background-position: 15000%;
  }
}
@media (min-width: 873px) {
  .briquo {
    background-position: 25000%;
  }
}
@media (min-width: 874px) {
  .briquo {
    background-position: 75000%;
  }
}
@media (min-width: 875px) {
  .briquo {
    background-position: calc(100% - 400px);
    background-size: contain;
  }
}
@media (min-width: 960px) {
  .evas-gulf-container {
      margin-left: 100px;
      min-height: 200px;
  }
  .evas-gulf-container h2 {
      font-size: 26px !important;
  }
}
@media (min-width: 1000px) {
  .evas-gulf-container {
      min-height: 240px;
  }
  .evas-gulf-container h2 {
      font-size: 30px !important;
  }
}
@media (min-width: 1100px) {
  .evas-gulf-container {
      margin-left: 100px;
  }
  .evas-gulf-container h2 {
      font-size: 36px !important;
  }
}
@media (min-width: 1260px) {
  .briquo {
    background-position: 0;
  }
}
@media (min-width: 1450px) {
  #briquotxt {
    margin-right: 10%;
  }
}
</style>
{% endblock %}

{% block content %} 
  <div class="row headerimg-row-no-nav">
    <div class="columns small-12">
      <div class="responsive-picture headerimg">
        <picture><img alt="Aiport with plane flying outside the windows" srcset="./images/corporate-gulf-img.jpg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
        </picture>
      </div>
    </div>
  </div>
  <div class="row row-intro-p">
    <div class="columns small-12">
      <h1 class="ccc-pages">EVAS + Gulfstream</h1>
      <p class="ccc-intro-p">EVAS has been widely adopted among operators of Private Jets, with over 1000 EVAS units having been installed on Gulfstream Aircraft.</p>
    </div>
  </div>
  <div class="row row-safety-priority-ccc">
    <div class="hero-ccc-left small-12 medium-6">
      <h2>Smoke is the leading defined cause of emergency landing for ETOPS</h2>
      <p class="p-ccc">After numerous incidences of smoke impeding pilots’ vision, and with catastrophic loss as a result, VisionSafe Corporation came up with the solution. Gulfstream Aerospace has designated EVAS as standard client option for their prestigious line of jet aircraft.</p>
    </div>
  </div>
  <div class="row row-info-stats">
    <div class="small-12 medium-4">
      <img class="img-stat" src="images/info-3.png" alt="EVAS is equipped on over 1000 Gulfstream Aircraft.">
      <p class="p-stat">EVAS is equipped on over 1000 Gulfstream Aircraft.</p>
    </div>
    <div class="small-12 medium-4">
      <img class="img-stat" src="images/info-2.png" alt="Certified for use on 10 OEMs and over 120 Aircraft Type.">
      <p class="p-stat">Certified for use on 10 OEMs and over 120 Aircraft Type.</p>
    </div>
    <div class="small-12 medium-4">
      <img class="img-stat" src="images/info-1.png" alt="Well over 2000 ETOPS aircraft are EVAS equipped.">
      <p class="p-stat">Well over 2000 ETOPS aircraft are EVAS equipped.</p>
    </div>
  </div>
  <div class="row" style="background-color: #e2e2e2; padding: 4% 0;">
    <div class="small-12 medium-4">
      <div class="vimiconwrap">
        <img src="./images/gulfvid1.jpg" id="vimBtn">
        <div class="play-icon">
          <svg viewBox="0 0 20 20" preserveAspectRatio="xMidYMid" focusable="false" aria-hidden="true">
            <polygon class="fill" points="1,0 20,10 1,20"></polygon>
          </svg>
        </div>
      </div>
      <p style="padding: 0 10%; font-weight: bold;">An overview of the Emergency Vision Assurance System</p>
    </div>
    <div class="small-12 medium-4">
      <div class="vimiconwrap">
        <img src="./images/gulfvid2.jpg" id="vimBtn2">
        <div class="play-icon">
          <svg viewBox="0 0 20 20" preserveAspectRatio="xMidYMid" focusable="false" aria-hidden="true">
            <polygon class="fill" points="1,0 20,10 1,20"></polygon>
          </svg>
        </div>
      </div>
      <p style="padding: 0 10%; font-weight: bold;">Pilot Hugh V. Tillman talks about his blinding smoke in the cockpit incident</p>
    </div>
    <div class="small-12 medium-4">
      <div class="vimiconwrap">
        <img src="./images/gulfvid3.jpg" id="vimBtn3">
        <div class="play-icon">
          <svg viewBox="0 0 20 20" preserveAspectRatio="xMidYMid" focusable="false" aria-hidden="true">
            <polygon class="fill" points="1,0 20,10 1,20"></polygon>
          </svg>
        </div>
      </div>
      <p style="padding: 0 10%; font-weight: bold;">An overview of the Emergency Vision Assurance System</p>
    </div>
  </div>
  <div class="row row-paris-award">
    <div class="paris-award-container">
      <h2 class="h-paris-award">Gulfstream Supplier of the Year</h2>
      <div class="gold-gradient"></div>
      <p class="p-paris-award">After thorough evaluation and review Gulfstream awarded VisionSafe as supplier of the year. Gulfstream has also designated EVAS as a standard equipment on the G650 and as standard client option for the rest of their prestigious line of aircraft.</p>
    </div>
  </div>
  <div class="row" style="margin-top: -2px;">
    <div class="collumns small-12 briquo">
      <div id="briquotxt">
        <img src="./images/quo.png" width="39px" height="36px" style="margin-left: -39px;">
        <h2>If you’d have offered me the product in the middle of my emergency, I’d have agreed to pay my entire year’s salary for it.<br><br>

    Having something like this, just to see a two-foot distance to your instruments would have been golden. You don’t appreciate being able to see something
    till you can’t see it.
        </h2>
        <h3 style="font-family: lato; font-weight: 800; font-size: 24px; line-height: 38px;">- Captain Brian S.</h3>
      </div>
    </div>
  </div>
  <div class="row row-quotes">
    <div class="small-12 medium-4 text-center">
      <img src="images/corp-quote-1.png" alt="">
    </div>
    <div class="small-12 medium-4 text-center">
      <img src="images/corp-quote-2.png" alt="">
    </div>
    <div class="small-12 medium-4 text-center">
      <img src="images/corp-quote-3.png" alt="">
    </div>
  </div>

  <div class="row gulf4">
    <div class="evas-gulf-container">
      <div>
        <div style="max-width: fit-content;">
          <h2 class="h-paris-award">EVAS is available for these Gulfstream aircraft</h2>
          <div style="background-image: linear-gradient(to right, #ad906c, #e1e3a2);height: 3px; margin: 0 0 10px;"></div>
        </div>
        <div style="display: flex;">
          <div class="gulftxt">
            <p>Gulfstream G200</p>
            <p>Gulfstream G280</p>
            <p>Gulfstream III</p>
            <p>Gulfstream G350</p>
            <p>Gulfstream G350</p>
            <p>Gulfstream IV</p>
            <p>Gulfstream IVSP</p>
          </div>
          <div class="gulftxt">
            <p>Gulfstream G450</p>
            <p>Gulfstream V</p>
            <p>Gulfstream G500</p>
            <p>Gulfstream G550</p>
            <p>Gulfstream G600</p>
            <p>Gulfstream G650</p>
            <p>Gulfstream G650ER</p>
          </div>
        </div>
        <a href="https://www.visionsafe.com/wp-content/uploads/2018/03/AML-ST00892LA_07112019.pdf" target="_blank" style="color: #fff; text-decoration: underline; font-family: Lato; font-weight: bold; font-size: 20px; margin-bottom: 5%;">View our approved model list across all OEMs</a>
      </div>
    </div>
  </div>

  <div class="row row-client-list">
    <h2 class="h-client-list">Some of the many Gulfstream operators with EVAS</h2>
    <img src="./images/gulfwordmap.png" alt="List of some VisionSafe's commercial clients along with others, including jetBlue Alaska Airlines Emirates Airlines, Gulstream, Qanta Airways, China Eastern Airlines, Bombardier and the US Militar to name a few">
  </div>
  <div class="row buy-hero" >
    <div class="columns small-12">
      <div class="subgrid subgrid-960">
        <div class="row row-buy-evas">
          <div class="columns small-12 sg-col-buy-evas medium-6">
            <h4 class="buy-evas-h-text show-for-medium">Add a crucial layer of<br>safety to your aircraft.<br>
            </h4>
          </div>
          <div class="columns small-12 sg-buy-evas-btn-container medium-6">
            <div class="container buy-btn" id="buyEVAS">
              <span class="text-element buy-btn-text"  id="spanEVAS">Buy EVAS Now</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
    
<footer class="row footer-row">
  <div class="columns small-12">
    <div class="subgrid subgrid-960">
      <div class="row">
        <div class="columns small-12 sg-col-footer medium-6 large-5">
          <h6>Join our newsletter</h6>
          <div class="html-element"><script type="text/javascript">document.write(unescape("%3Ciframe id=\"fb_iframe\" src=\"email-signup-validemail.php" + window.location.search + "\" width=\"100%\" height=\"65\"allowtransparency=\"true\" scrolling=\"no\" frameborder=\"0\"%3E&lt;a href=\"email-signup-validemail.php\" title=\"email-signup-validemail\"&gt;Check out my CoffeeCup Form&lt;/a&gt;%3C/iframe%3E"));</script>
<noscript>
<iframe class="emailsignup" height="65" style="border:none; background:transparent; overflow:hidden; width:100%; max-height: 65px;"
id="fb_iframe" src="email-signup-validemail/email-signup-validemail.html">
  <a href="email-signup-validemail.php" title="email-signup-validemail">Check out my CoffeeCup Form</a>
</iframe>
</noscript></div>
          <p class="paragraph newsletter-des">Stay up to date with important product news about the EVAS system and the latest and greatest from VisionSafe.</p>
        </div>
        <div class="columns small-6 contactus-col large-push-0 large-2 medium-push-1 medium-5 medium-offset-0">
          <h6>Contact us</h6>
          <a class="link-text contact-foot-link" href="tel:+1-800-441-9230">1-800-441-9230</a>
          <a class="link-text contact-foot-link" href="mailto:info@visionsafe.com">info@visionsafe.com</a>
          <p class="paragraph address">46-217 Kahuhipa St. Kaneohe, HI 96744<br>
          </p>
        </div>
        <div class="columns small-6 medium-4 large-2 connect-col">
          <h6>Connect with us</h6><a href="https://www.facebook.com/VisionSafeCorporation?fref=ts" class="responsive-picture fb-icon" target="_blank"><picture><img alt="VisionSafe Facebook icon" srcset="./socialicons/webicon-facebook.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></picture></a><a href="https://twitter.com/VisionSafeCorp" class="responsive-picture twitter-icon" target="_blank"><picture><img alt="VisionSafe Twitter icon" srcset="./socialicons/webicon-twitter.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></picture></a><a href="https://www.youtube.com/user/VisionSafeCorp" class="responsive-picture youtube-icon" target="_blank"><picture><img alt="VisionSafe Youtube icon" srcset="./socialicons/webicon-youtube.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></picture></a>
        </div>
        <div class="columns small-12 medium-8 large-3 about-col">
          <h6>About</h6>
          <ul class="link-list ul-about-links">
            <li class="list-item-link about-links"><a href="passenger.html">EVAS for Commercial</a></li>
            <li class="list-item-link about-links"><a href="cargo.html">EVAS for Cargo</a></li>
            <li class="list-item-link about-links"><a href="corporate.html">EVAS for Corporate</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="row footer-row-btm">
  <div class="columns small-12">
    <div class="subgrid subgrid-960">
      <div class="row">
        <div class="columns small-12 sg-col-footer-btm">
          <ul class="unorder-list ul-footer-btm"><li class="list-item footer-list-btm">© 2020 VisionSafe</li>
      <li class="list-item footer-list-btm"><a href="terms.html" class="lgd-link">Terms and Conditions</a></li>
      <li class="list-item footer-list-btm"><a href="wp-content/uploads/2018/10/VSC-Vendor-Supplier-Code-of-Business-Conduct-Ethics.pdf" class="lgd-link" target="_blank">Business Conduct and Ethics</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="reveal" id="checkoutModal" >
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <div id="airload"></div>
  <h1 id="checkoutheader">Great! We'll guide you through the steps to getting your plane or fleet protected with EVAS.</h1>
  <form id="checkout" name="checkout">
    <label>Contact Information</label>
    <div class="form-input">
      <input id="fullname" name="fullname" placeholder="Full Name" required="required" type="text">
      <label for="fullname">Full Name</label>
    </div>
    <div class="form-input">
      <input id="company" name="company" placeholder="Company" required="required" type="text">
      <label for="company">Company</label>
    </div>
    <div class="form-input">
      <input id="phone" name="phone" placeholder="Phone" required="required" type="tel">
      <label for="phone">Phone</label>
    </div>
    <div class="form-input">
      <input id="email" name="email" placeholder="Email" required="required" type="email">
      <label for="email">Email</label>
    </div>
    
    <label class="slct">Where is your plane or fleet registered?</label>
    <div class="form-input">
      <select name="location">
        <option selected="selected" value="0">Select country</option>
        <option value="US">United States</option>
        <option value="EU">European Union</option>
        <option value="OTHER">Other</option>
      </select>
    </div>
    <label class="notshown" id="countrylabel">What country is your plane or fleet registered in?</label>
    {% include "partials/countries.njk" %}
    <div class="form-sub">
      <input type="submit" value="Next" />
    </div>
  </form>
</div>
<div class="reveal" id="msgModal" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
  <div class="modal-wrap">
    <div id="msg-modal-error">
      <h2>We'll need to get you a special STC for where your aircraft is registered. We will be in touch shortly to assist with this. If you'd like to contact us please call us at 1-800-441-9230</h2>
    </div>    
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>  
  </div>
</div>
<div class="reveal" id="stripeModal" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
  <div class="modal-wrap">
    <div id="msg-modal-stripe"></div>
  </div>
</div>

<div id="vimeoModal" class="vimmodal">
  <div class="vimmodal-content">
    <span id="vimclose">&times;</span>
    <div class="embed-container">
      <iframe id="gulfvid1" src="https://player.vimeo.com/video/336250903?color=ffd971&title=0&byline=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <iframe id="gulfvid2" src="https://player.vimeo.com/video/568724375?color=ffd971&title=0&byline=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <iframe id="gulfvid3" src="https://player.vimeo.com/video/569038810?color=ffd971&title=0&byline=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="js/webflow.js" type="text/javascript"></script>
<script src="js/jquery.min.js"></script>
<script src="js/outofview.js"></script>
<script src="js/what-input.min.js"></script>
<script src="js/foundation.min.js"></script>
<script>$(document).foundation();</script>
<script src="js/checkout.js"></script>

<script src="https://player.vimeo.com/api/player.js"></script>
<script>
var vimmodal = document.getElementById("vimeoModal");
var vimbtn = document.getElementById("vimBtn");
var vimbtn2 = document.getElementById("vimBtn2");
var vimbtn3 = document.getElementById("vimBtn3");
var gulfvid1 = document.getElementById("gulfvid1");
var gulfvid2 = document.getElementById("gulfvid2");
var gulfvid3 = document.getElementById("gulfvid3");
var vimclose = document.getElementById("vimclose");
var gulfvim1 = new Vimeo.Player(gulfvid1);
var gulfvim2 = new Vimeo.Player(gulfvid2);
var gulfvim3 = new Vimeo.Player(gulfvid3);
vimbtn.onclick = function() {
  gulfvid1.style.display = "block";
  gulfvid2.style.display = "none";
  gulfvid3.style.display = "none";
  vimmodal.style.display = "block";
}
vimbtn2.onclick = function() {
  gulfvid1.style.display = "none";
  gulfvid2.style.display = "block";
  gulfvid3.style.display = "none";
  vimmodal.style.display = "block";
}
vimbtn3.onclick = function() {
  gulfvid1.style.display = "none";
  gulfvid2.style.display = "none";
  gulfvid3.style.display = "block";
  vimmodal.style.display = "block";
}
function pauseAllVimeo() {
  gulfvim1.pause();
  gulfvim2.pause();
  gulfvim3.pause();
  vimmodal.style.display = "none"; 
}
vimclose.onclick = function() {
  pauseAllVimeo();
}
window.onclick = function(event) {
  if (event.target == vimmodal) {
    pauseAllVimeo();
  }
}
</script>

<!-- LinkedIn Insight Tag -->
<script type="text/javascript">
function showMore() {
  var moreText = document.getElementById("morewrap");
  var btnText = document.getElementById("readmoreless");  
  if (moreText.classList.contains("showmore")) {
    btnText.innerHTML = "Read more"; 
    moreText.classList.remove("showmore");
    document.getElementById("moreFaded").classList.remove("hdn");
  } else {
    btnText.innerHTML = "Read less";
    moreText.classList.add("showmore");
    document.getElementById("moreFaded").classList.add("hdn");
  }
}
_linkedin_partner_id = "441156";
window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
window._linkedin_data_partner_ids.push(_linkedin_partner_id);
</script><script type="text/javascript">
(function(){var s = document.getElementsByTagName("script")[0];
var b = document.createElement("script");
b.type = "text/javascript";b.async = true;
b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
s.parentNode.insertBefore(b, s);})();
</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=441156&fmt=gif" />
</noscript>
<!-- End LinkedIn Insight Tag -->

<!-- Twitter universal website tag code -->
<script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','o31f6');
twq('track','PageView');
</script>
<!-- End Twitter universal website tag code -->

<!-- birdseed 
<script id="io.birdseed.script-tag" type="text/javascript" src="https://app.birdseed.io/widget.js"></script><div id="birdseed-widget-container" data-token="100d60c95c9b87ccc8463ae09bb6dd61"></div>
 end birdseed -->
<script id="CookieDeclaration" src="https://consent.cookiebot.com/0dd5556c-45da-432d-88be-726b6905f924/cd.js" type="text/javascript" async></script>
{% endblock %}