<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block meta %}{% endblock %}
  <title>{% block title %}{% endblock %}</title>
  {% block head %}{% endblock %}
  <script src="/js/_nav.js?v=1" async></script>
</head>
<body class="no-js">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NP63652"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  <!-- START HOLIDAY ALERT Code Close this comment to re-enable an alert
    
  <div class="row alertrow" data-outofview="true">
    <div class="columns small-12 alert-col medium-10 large-7">
      <p class="paragraph alert-p">2018 Year-end Inventory and Vacation/Holiday Closure Notice</p>
    </div>
    <div class="columns small-12 alert-col medium-2 large-5">
      <div class="container btn-container"><a class="link-button button" href="./holiday-closure.html">View Details<br></a>
      </div>
    </div>
  </div>
  
  <-- END HOLIDAY ALERT Code -->
  {% include "partials/nav.njk" %}
  {% block content %}{% endblock %}
  {% block javascript %}{% endblock %}
  <script>window._nQc="89268975";</script>
  <script async src="https://serve.albacross.com/track.js"></script>
</body>
</html>
